.workDisplay,
.edDisplay {
    align-items: center;
    padding: 0.5rem 2rem;
}

.infoDisplay {
    background-color: darkblue;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 6rem;
    border-radius: 0.25rem 0.25rem 0 0;
}

.infoDisplay > * {
    margin: 0;
    padding: 0.25rem;
}

.infoDisplay,
.workDisplay {
    border-bottom: 1px solid black;
}
