.form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    border: 1px solid grey;
    border-radius: 0.25rem;
    outline: hidden;
    padding: 0.25rem;
    margin: 0.25rem;
    flex-wrap: nowrap;
    font-family: sans-serif;
    max-width: 90%;
    font-weight: 400;
    font-size: 14px;
}

.infoFormBox,
.workFormBox,
.edFormBox {
    box-shadow: 0 0 6px 0px, inset 0 0 8px grey;
    border: none;
}

.workFormBox > button {
    width: 99%;
}

.edFormBox > button {
    width: 99%;
}
